.userTable {
    width: 60%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}

.addButton {
    text-decoration: none;
    background-color: rgb(190, 86, 7);
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    padding: 10px;

}

.userTable table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.userTable table thead th {
    background-color: #333;
    color: white;
    padding: 10px;
}

.userTable table tbody td {
    padding: 10px;
    text-align: center;
}

.actionButtons button {
    border: 0;
    outline: none;
    background-color: rgb(190, 86, 7);
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actionButtons a {
    border: 0;
    outline: none;
    background-color: rgb(104, 184, 61);
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
}