.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-cols {
    display: flex;
    justify-content: space-around;
}

.footer-col {
    flex-basis: 25%;
    margin-left: 40px;
}

.footer-col h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-col p {
    color: #fff;
}

.social-links a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.social-links a:hover {
    color: #ffd700;
    /* Change to desired color on hover */
}

.copyright {
    text-align: center;
    margin-top: 20px;
}